---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="de-AT">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-50 font-body text-neutral-700 antialiased">
    <slot />
  </body>
</html>

<style is:global>
  @import '../styles/global.css';
</style>
